.st{
    margin-top: -10px;
    margin-left: 5%;
    width: 70%;
}

.node {
    background: #171922;
    position: absolute;
    border: 0.1px solid rgba(0, 255, 213, 0.6);
    color: #ffffff;
}
#addMenu {
    background: #171922;
    position: absolute;
    border: 0.1px solid rgba(0, 255, 213, 0.6);
    color: #ffffff;
}
span{
    background: #212630 !important;
    border: none !important;
    border-radius: 0 !important;
    color: #ffffff !important;
    margin-top: 1.5vh;
}
input{
    background: #212630 !important;
    border: none !important;
    border-radius: 0 !important;
    color: #ffffff !important;}
.input{
    margin-top: 10px;
    margin-bottom: 1000px;
    position: absolute;
    left: -10px;
    width:50%;


}
.output{
    margin-top: 10px;
    position: absolute;
    left: 238px;
    width:50%;


}
body{
    background: #090a0e;
    overflow: hidden;
}
html{
    position: relative;

}
.container{
    margin-top: 2.5vh;
    height: 3vh;
}
.insvg{
    float:left;
}
.intext{
    margin-top: -2px;
}
.outText{

    float: left;
}
.delete{
    width: fit-content;
    position: absolute;
    right: 6.5%;
    top: 4.5%;
}
#svgsvg{ position:fixed; top:0; bottom:0; left:0; right:0 }