.node {
    background: #313131;
    position: absolute;
    color: #ffffff;
}
span{
    background: #313131 !important;
    border: none !important;
    color: #ffffff !important;
}
input{
    background: #5f5f5f !important;
    border: none !important;
    color: #ffffff !important;}
.input{
    margin-top: 10px;
    position: absolute;
    left: -10px;
    width:50%;


}
.output{
    margin-top: 10px;
    position: absolute;
    left: 238px;
    width:50%;


}
body{
    background: #5f5f5f;
}
html{
    position: relative;

}
.container{
    height: 30px;
}
.insvg{
    float:left;
}
.intext{
    margin-top: -2px;
}
.outText{

    float: left;
}